@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import LineChart
.ig
  position relative
  circle
    display none
  .axis.x g.tick:not(.active)
    display none
  .axis.y .tick:last-child:not(.active)
    display none
